src/main/mule/servicenow-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="assets-exp-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${listnerport}" />
    </http:listener-config>
	<flow name="assets-exp-api-main" doc:id="5732e371-bc2f-4b6f-88fe-6d900c3526f5">
        <http:listener config-ref="assets-exp-api-httpListenerConfig" path="${listnerbasepath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="assets-exp-api-config" doc:id="8da03675-f91b-4c41-8523-3b08489d1fa4"/>
		<error-handler ref="assets-exp-common-error-handler-api" />
    </flow>
    <flow name="assets-exp-api-console">
        <http:listener config-ref="assets-exp-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="assets-exp-api-config" />
		<error-handler ref="assets-exp-common-error-handler-api" />
    </flow>
	<flow name="get:\assets:assets-exp-api-config">
		<json-logger:logger doc:name="startTracePoint" doc:id="59a1fe58-d275-4505-9083-1acc9e44ef2a" config-ref="JSON_Logger_Config" message="Before Assets Call"/>
		<flow-ref doc:name="getAssets" doc:id="0301e503-a5f3-4dd0-b215-2b4b7334cf93" name="sf-getAssets"/>
		<json-logger:logger doc:name="endTracePoint" doc:id="554989c8-949e-48c1-805c-1be854e3750b" config-ref="JSON_Logger_Config" message="After Assets Call" tracePoint="END"/>
		<error-handler ref="assets-exp-common-error-handler-api" />
    </flow>

	<flow name="get:\brands:assets-exp-api-config">
		<json-logger:logger doc:name="startTracePoint" doc:id="3ab6c164-70ad-4aaa-ab66-76b7a6cdba53" config-ref="JSON_Logger_Config" message="Before Brands Call"/>
		<flow-ref doc:name="getBrands" doc:id="d701595c-7037-4336-a678-906b1c72272d" name="sf-getBrands" />
		<json-logger:logger doc:name="endTracePoint" doc:id="3368d6c6-e93c-4fcf-bd03-1c916f368f2a" config-ref="JSON_Logger_Config" message="After Brands Call" tracePoint="END"/>
		<error-handler ref="assets-exp-common-error-handler-api" />
    </flow>
    <flow name="get:\collections:assets-exp-api-config">
		<json-logger:logger doc:name="startTracePoint" doc:id="8a11149b-4e66-4635-9695-dc8e05903fe4" config-ref="JSON_Logger_Config" message="Before Collections Call"/>
		<flow-ref doc:name="getCollections" doc:id="e174266f-2cf6-4421-b1d3-ccf5bde756ef" name="sf-getcollections"/>
		<json-logger:logger doc:name="endTracePoint" doc:id="31daed20-88fe-40d1-a4c0-2856eca58c10" config-ref="JSON_Logger_Config" message="After Collection Call" tracePoint="END"/>
		<error-handler ref="assets-exp-common-error-handler-api" />
    </flow>


	<error-handler name="assets-exp-common-error-handler-api" doc:id="7933891f-5ea3-4adf-a025-8e52b5f0b942" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="91210366-6653-4696-97d8-5c6d36cb8bf9" >
			<error-handler-plugin:on-error doc:name="Process Error" doc:id="67806cee-84ce-4704-b257-b7372a5adb7e" previousErrors="#[vars.errorDetails default []]" config-ref="Error_Handler_Plugin_Config"/>
			<set-variable value="#[payload]" doc:name="errorPayloadvariable" doc:id="714554c4-df63-45ac-bd60-a1f427d615e8" variableName="errorPayload"/>
			<http:request method="POST" doc:name="SNOW-Request" doc:id="c9ce9f70-2fdf-4797-a4e6-d1b7b4cc1910" config-ref="HTTP_Request_Servicenow_configuration" path="${servicenow.sys.api.request.path}"/>
			<set-payload value="#[vars.errorPayload]" doc:name="setPayload" doc:id="0f04a1ed-12d6-487d-bd9f-235641f056b2" />
		</on-error-propagate>
	</error-handler>
	<flow name="get:\status:assets-exp-api-config" doc:id="993d3382-7136-4877-8920-fd2c97fae83b" >
		<json-logger:logger doc:name="startTracePoint" doc:id="20a2096b-026a-45d5-90e1-8485ba52d1b2" config-ref="JSON_Logger_Config" message="Before Status Call"/>
		<flow-ref doc:name="getStatus" doc:id="bc75775d-0294-467d-b21d-e2c4a0110700" name="sf-getStatus"/>
		<json-logger:logger doc:name="endTracePoint" doc:id="ad4b6ee4-d259-4455-b70e-b924adbf9318" config-ref="JSON_Logger_Config" message="After Status Call" tracePoint="END"/>
		<error-handler ref="assets-exp-common-error-handler-api" />
	</flow>


	<flow name="post:\sharepoint:assets-exp-api-config" doc:id="7874fc33-b1ed-4bd4-840a-6e04594a6459" >
		<json-logger:logger doc:name="startTracePoint" doc:id="8642b0fe-45e1-42ab-9003-8cacef106266" config-ref="JSON_Logger_Config" message="Before Sharepoint Call"/>
		<flow-ref doc:name="publishSharepoint" doc:id="21aa60ff-a448-4d01-9f84-bb757cedfa94" name="sf-publishSharepoint"/>
		<json-logger:logger doc:name="endTracePoint" doc:id="aa43cafc-78e6-4603-a254-557203979808" config-ref="JSON_Logger_Config" message="After Sharepoint Call" tracePoint="END"/>
	</flow>
	<flow name="assets-exp-api-healthcheck" doc:id="31b308f1-57b6-4b45-84a7-5b7671d535d7" >
		<http:listener doc:name="Listener" doc:id="7b21bfbe-40ee-4a1d-bea7-dead4ebde4f8" config-ref="assets-exp-api-httpListenerConfig" path="${listnerhealthcheck}">
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<set-payload value="UP" doc:name="Set Payload" doc:id="af90a463-4d92-46d1-8a03-68dacba29974" />
	</flow>
</mule>
